/node_modules
/public/mix-manifest.json
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
/.env
.env*
!.env.example
/.idea
/.vscode
/.fleet
/.nova
/.zed
Homestead.json
Homestead.yaml
.phpactor.json
.phpunit.cache
.phpunit.result.cache
/auth.json
bootstrap/cache/*
*.log
npm-debug.log
yarn-error.log
.DS_Store
.AppleDouble
._*
Thumbs.db